<!--Defining the Customer model as an IEnumerable list-->
<!--Was changed to CustomerDto to access the customers data-->
@model IEnumerable<TravelServicesDirectoryFinal.Models.CustomerDto>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers List</h2>

<!--Link to navigate to create customer form-->
<a class="btn btn-danger my-4" href="/Customer/New">New Customer</a>


<!--For each customers in our model-->
@foreach (var customer in Model)
{
    // The a tag leads to the customer details page
    <h4><a href="/Customer/Details/@customer.CustomerId">@customer.Firstname @customer.Lastname</a></h4>
    // @customer means we are talking about the customer
    <p class="pb-2">Email: @customer.Email</p>
}