@{
    ViewBag.Title = "Create";
}

<h2>Create a Customer</h2>

<!--Link to to back to the customers list page-->
<a href="/Customer/List">Go back to Customers list</a>

<!--Form to create a new customer-->
<form action="/Customer/Create" method="POST">
    <div class="form-group pb-2">
        <label for="FirstName">Firstname:</label>
        <input type="text" name="FirstName" class="form-control" id="Status" placeholder="Enter the firstname" />
    </div>
    <div class="form-group pb-2">
        <label for="Lastname">Lastname:</label>
        <input type="text" name="LastName" class="form-control" id="Lastname" placeholder="Enter the lastname" />
    </div>
    <div class="form-group pb-2">
        <label for="DOB">Date of Birth:</label>
        <input type="date" name="DOB" class="form-control" id="DOB" placeholder="Enter the date of birth" />
    </div>
    <div class="form-group pb-2">
        <label for="Address">Address:</label>
        <input type="text" name="Address" class="form-control" id="Address" placeholder="Enter the address" />
    </div>
    <div class="form-group pb-2">
        <label for="Email">Email:</label>
        <input type="text" name="Email" class="form-control" id="Email" placeholder="Enter the email" />
    </div>
    <div class="form-group pb-2">
        <label for="Phone">Phone:</label>
        <input type="text" name="Phone" class="form-control" id="Phone" placeholder="Enter the phone" />
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Add Customer" />
    </div>
</form>