/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/* CSS for the index page cards */
.card {
    overflow: hidden;
    transition: transform 0.3s;
}

    .card:hover {
        transform: scale(1.05);
    }


/* CSS for the index page */
.content {
    padding: 20px;
}

.search-container {
    padding: 20px;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.search-options {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .search-options li {
        margin-bottom: 5px;
    }


/*CSS for the error messages in form*/
.errorMsg {
    color: red;
    font-weight: bold;
    display: none;
}

/*Form*/
#add-form {
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    border-radius: 20px;
    padding: 20px 20px;
    align-items: start;
    background-color: rgb(180, 178, 178);
}

#update-form {
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    border-radius: 20px;
    padding: 20px 20px;
    align-items: start;
    background-color: rgb(180, 178, 178);
}

#add-form .form-input {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

    #add-form .form-input > label {
        font-size: 16px;
        margin-bottom: 5px;
    }

    #add-form .form-input > input {
        font-size: 16px;
        width: 100%;
        padding: 5px 5px;
        border: 0px;
        border-radius: 10px;
    }