@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 class="pb-4" id="title">About Travel Services Directory</h2>

    <p class="fs-5">Travel Services directory is a data logging web application made to provide users with comprehensive information about their
    travels. It has been built to aid travel companies to keep record of the bookings made by customers and also provide them the travel services
    that includes accommodation, expense details, and the purpose for travel. This application aims to make travel planning easier by acting as a
    single hub for all the requirements.</p>
</main>