@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <address>
        Humber College<br />
        Etobicoke, ON, Canada<br />
        <abbr title="Phone">P:</abbr>
        1.416.675.3111
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">ashimshrestha125@gmail.com</a><br />
    </address>
</main>