<!--Defining the Package model as an IEnumerable list-->
<!--Was changed to PackageDto to access the packages data-->
@model IEnumerable<TravelServicesDirectoryFinal.Models.PackageDto>

@{
    ViewBag.Title = "Packages";
}

<h2>Packages List</h2>

<!--Link to navigate to create package form-->
<a class="btn btn-danger my-4" href="/Package/New">New Package</a>


<!--For each packages in our model-->
<div class="container mt-2 mb-5">
    <div class="row">
        @foreach (var package in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><a href="/Package/Details/@package.PkgId">@package.Name</a></h4>
                        <p class="card-text pb-2">Cost: @package.Cost</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
